@font-face {
    font-family: 'maison_neuebook';
    src: url('maisonneue-book-trial-webfont.eot');
    src: url('maisonneue-book-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('maisonneue-book-trial-webfont.woff2') format('woff2'),
         url('maisonneue-book-trial-webfont.woff') format('woff'),
         url('maisonneue-book-trial-webfont.ttf') format('truetype'),
         url('maisonneue-book-trial-webfont.svg#maison_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.page-custom-content{
    min-width: 1366px;
    font-family: "MaisonNeue-Book",Arial,Helvetica,sans-serif;;
    margin-bottom: 105px;
    float: left;
    width: 100%;
}

.page-custom-content .wrapper {
    width: 1280px;
    margin: 0 auto;
    font-family: "MaisonNeue-Book", Arial, Helvetica, sans-serif;
}
.page-custom-content .performance{
    background: #fff;
    color: #000;
}
.page-custom-content .perks {
    background: #d5d6d8;
    padding: 15px 0;
}
.page-custom-content .perks h2 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #737373;
}
.page-custom-content .perks ul{
    text-align: center;
    margin: 20px auto;
    padding: 0;
}
.page-custom-content .perks ul li {
    width: 87px;
    height: 84px;
    background: red;
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    background: url('logos.png') repeat-x;
}
.page-custom-content .perks ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.page-custom-content .perks ul li:nth-child(2){
    background-position: -140px 0;
    width: 100px;
}
.page-custom-content .perks ul li:nth-child(3){
    background-position: -324px 0;
    width: 123px;
}
.page-custom-content .perks ul li:nth-child(4){
    background-position: -540px 0;
    width: 92px;
}
.page-custom-content .perks ul li:nth-child(5){
    background-position: -720px 0;
    width: 82px;
}
.page-custom-content .perks ul li:nth-child(6){
    background-position: -902px 0;
    width: 59px;
}
.page-custom-content .perks ul li:nth-child(7){
    background-position: -1045px 0;
    width: 95px;
}
.page-custom-content .perks ul li:nth-child(8){
    background-position: -1230px 0;
    width: 95px;
}
.page-custom-content .performance .left-box{
    width: 50%;
    float: left;
    position: relative;
    height: 440px;
    background: url(solas.png) no-repeat bottom center;
    text-transform: uppercase;
}
.page-custom-content .performance .right-box{
    width: 50%;
    float: right;
    position: relative;
    height: 440px;
}
.page-custom-content .performance .right-box .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.page-custom-content .performance .right-box h1 {
    color: #000f3f;
    font-size: 39px;
    line-height: 41px;
    text-align: left;
    margin-bottom: 30px;
    text-transform: initial;
}
.page-custom-content .performance .right-box .text p{
    font-size: 13px;
    line-height: 20px;
    color: #000;
}
.page-custom-content .performance .left-box .left{
    position: absolute;
    bottom: 30px;
    left: 65px;
}
.page-custom-content .performance .left-box .right{
    position: absolute;
    bottom: 30px;
    right: 105px;
}
.page-custom-content .technology{
    background: url(tecnology-bg.jpg) no-repeat top center;
    position: relative;
    height: 1320px;
    float: left;
    width: 100%;
    padding-top: 10px;
}
.page-custom-content .technology.saibro{
    background: url(02.jpg) no-repeat top center;
    position: relative;
    height: 1320px;
    float: left;
    width: 100%;
    padding-top: 10px;
}
.page-custom-content .technology .wrapper{
    padding: 130px 0 20px;
}
.page-custom-content .technology .shoe-saibro,
.page-custom-content .technology .shoe{
    width: 747px;
    height: 1167px;
    margin: auto;
    position: relative;
    z-index: 3;
    display: block;
}
.page-custom-content .technology .shoe{
    background: url(shoe.png) no-repeat;
}
.page-custom-content .technology .shoe-saibro{
    background: url(saibro.png) no-repeat;
}
.page-custom-content .technology .alt-bg{
    width: 100%;
    z-index: 2;
    height: 100%;
    background: url(alt-bg.png) no-repeat center;
    display: none;
    position: absolute;
}
.page-custom-content .technology .wrapper{
    position: relative;
}
.page-custom-content .technology .title-image{
    width: 255px;
    z-index: 2;
    height: 183px;
    right: 80px;
    top: 80px;
    display: block;
    background: url(title-image.png) no-repeat center;
    display: block;
    position: absolute;
}
.page-custom-content .technology .item{
    position: absolute;
    color: white;
    z-index: 10;
    transition: 550ms all ease;
    opacity: 1;
    visibility: visible;
    box-sizing: border-box;
}
.page-custom-content .technology .item.active{
    opacity: 1;
    visibility: visible;
}
.page-custom-content .technology .item.right{
    float: right;
}
.page-custom-content .technology .item.right h1{
    /*float: right;*/
}
.page-custom-content .technology .item.right .text{
    float: right;
    display: block;
}
.page-custom-content .technology .item.left{
    left: 120px;
}
.technology .item.right{
    right: 120px;
}
.page-custom-content .technology .item.perfit{
    top: 45px;
    left: 116px;
    width: 415px;
    height: 170px;
    background: url(line_perfit.png) no-repeat left top;
    padding-top: 85px;
}
.page-custom-content .technology .item.flex{
    top: 245px;
    right: 130px;
    width: 310px;
    background: url(line_flex.png) no-repeat left top;
    padding-top: 70px;
}
.page-custom-content .technology.saibro .item.flex{
    top: 265px;
    right: 100px;
}
.page-custom-content .technology .item.cage{
    top: 281px;
    left: 108px;
    width: 427px;
    height: 346px;
    background: url(line_cage.png) no-repeat left top;
    padding-top: 88px;
}
.page-custom-content .technology.saibro .item.cage{
    top: 304px;
    left: 128px;
}
.page-custom-content .technology .item.flaw{
    top: 331px;
    right: 103px;
    width: 618px;
    background: url(line_flaw.png) no-repeat left top;
    padding-top: 285px;
}
.page-custom-content .technology.saibro .item.flaw{
    top: 355px;
    right: 76px;
}
.page-custom-content .technology .item.superaction{
    top: 657px;
    left: 110px;
    width: 299px;
    background: url(line_superaction.png) no-repeat left top;
    padding-top: 245px;
}
.page-custom-content .technology.saibro .item.superaction{
    top: 678px;
    left: 134px;
}
.page-custom-content .technology .item.foam{
    top: 760px;
    right: 128px;
    width:381px;
    background: url(line_foam.png) no-repeat left top;
    padding-top: 117px;
}
.page-custom-content .technology.saibro .item.foam{
    top: 783px;
    right: 98px;
}
.page-custom-content .technology .item.evergrip{
    top: 1045px;
    left: 115px;
    width: 508px;
    background: url(line_evergrip.png) no-repeat left top;
    padding-top: 60px;
}
.page-custom-content .technology.saibro .item.evergrip{
    top: 989px;
    left: 144px;
    width: 580px;
    background: url(lines-evergrip_saibro.png) no-repeat left top;
    padding-top: 144px;
}
.page-custom-content .technology .item.pivots{
    top: 867px;
    right: 120px;
    width: 580px;
    background: url(line_p.png) no-repeat left top;
    padding-top: 242px;
}

.page-custom-content .technology.saibro .item.pivots{
    display: none;
}
.page-custom-content .technology .bold{
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Arial';
    margin-bottom: 5px;
}
.page-custom-content .technology .item.flaw .text{
    width: 220px;
    margin-right: -67px;
}
.page-custom-content .technology .item.flex .text{
    width: 175px;
}
.page-custom-content .technology .item.superfoam .text{
    width: 220px;
}
.page-custom-content .technology .item.pivots .text{
    width: 220px;
    margin-right: 0px;
}

<<<<<<< HEAD


.technology .item.flaw .icon{
    background-position: -540px -35px;
    margin-left: 10px;
}
.page-custom-content .technology .item.cage .icon{
    background-position: -137px -35px;
    margin-left: 10px;
}
.page-custom-content .technology .item.flex .icon{
    background-position: -1224px -29px;
    margin-left: 117px;
    top: 40px;
}
.page-custom-content .technology .item.perfit .icon{
    background-position: -714px -29px;
    height: 55px;
    margin-left: 200px;
}
.page-custom-content .technology .item.foam .icon{
    margin-left: 100px;
    margin-right: 25px;
}
.page-custom-content .technology .item.foam .text{
    width: 200px;
    margin-right: 20px;
}
.page-custom-content .technology .item.p-logo .icon{
    background-position: -894px -19px;
    height: 75px;
    margin-left: 320px;
}
.page-custom-content .technology .item.superaction .icon{
    background-position: -1034px -29px;
}
.page-custom-content .technology .item.evergrip .icon{
    background-position: -314px -33px;
    width: 135px;
}

.technology .bold{
    text-transform: uppercase;
    font-weight: 800;
=======
.page-custom-content .technology .item.foam .text{
    width: 215px;
>>>>>>> 58d32400152babd987c944f8faf7f56d57d83bc8
}
.page-custom-content .technology .item .line{
    width: 100%;
}
<<<<<<< HEAD

.technology .item.flaw .line{
    position: absolute;
    height: 88px;
    background: url('lines-flaw.png') no-repeat center;
    width: 321px;
    top: 35px;

}
.page-custom-content .technology .item.cage .line{
    position: absolute;
    height: 74px;
    background: url('lines-cage.png') no-repeat center;
    width: 277px;
    top: -30px;

}
.page-custom-content .technology .item.flex .line{
    position: absolute;
    height: 92px;
    background: url('lines-flex.png') no-repeat center;
    width: 310px;
    top: 40px;

}
.page-custom-content .technology .item.foam .line{
    position: absolute;
    height: 19px;
    background: url('lines-foam.png') no-repeat center;
    width: 329px;
    top: 85px;

}
.page-custom-content .technology .item.perfit .line{
    position: absolute;
    height: 19px;
    background: url('lines-perfit.png') no-repeat center;
    width: 381px;
    top: 50px;

}
.page-custom-content .technology .item.p-logo .line{
    position: absolute;
    height: 121px;
    background: url('lines-p.png') no-repeat center;
    width: 573px;
    top: -40px;

}
.page-custom-content .technology .item.superaction .line{
    position: absolute;
    height: 44px;
    background: url('lines-superaction.png') no-repeat center;
    width: 508px;
    top: 5px;
}
.page-custom-content .technology .item.evergrip .line{
    position: absolute;
    height: 56px;
    background: url('lines-evergrip.png') no-repeat center;
    width: 231px;
    top: -10px;
}

.technology .item p{
    width: 180px;
    font-size: 14px;
=======
.page-custom-content .technology .item h1{
    color: #ccd301;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-family: arial black;
    letter-spacing: 0.5px;
}
.page-custom-content .technology .item p{
    font-size: 13px;
    line-height: 14px;
>>>>>>> 58d32400152babd987c944f8faf7f56d57d83bc8
    margin-top: 0;
}